# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente virtual
venv/
*.pyc
__pycache__/

# Arquivos de dados
*.csv

# Arquivos de configuração com informações sensíveis
config.yaml

# Logs
*.log

# Arquivos temporários
*.tmp

# Diretório de build
build/
dist/
*.egg-info/